/* index */
.content {
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
}

.content .item:nth-child(1) {
    order: 1;
}

/* eixo_principal_cruzado */
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
}

/* flex_sizing */
.container2 {
    display: flex;
    border: 1px solid #008080;
    height: 80vh;
}

.container2 .item {
    background-color: #6495ED;
    border: 1px solid;
    flex: 1;
}

/* direcao_itens */
.container3 {
    display: flex;
    flex-direction: column-reverse;
    height: 80vh;
}