* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

div {
    font-size: 18px;
}

.paragrafo1 {
    font-size: 1.5em;
}

.paragrafo2 {
    font-size: 2rem;
}

.box {
    width: 400px;
    height: 400px;
    background-image: url("http://source.unsplash.com/random");
    background-repeat: no-repeat;
    background-position: center;
}